<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2022%2F09%2Fmarvel-ea-motive-iron-man-game-single-player-announced-000.jpg?fit=max&cbr=1&q=90&w=750&h=500" height="200px" width="100%" srcset="">
    </div>
    <div class="big-card__title">
        <h1> <a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas, rem cum. Amet, porro quidem
                voluptatum provident suscipit fugit necessitatibus odit, nam facere eum nesciunt veniam voluptas fuga
                velit, reprehenderit dolore Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, et eius.
                Sequi fugit eligendi magnam itaque ex corporis laborum culpa?
            </a>
        </p>
    </div>
</div>