.container__small-card{
    width: 700px;
    margin-top: 25px;
   
}

.container__smal-card-content{
    display: flex;
    flex-direction: row;
    
}

.small-card__photo > img{
    width: 200px;
    min-width: 200px;
    margin-right: 10px;
    
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__smal-card__separator{
    margin-top: 10px;
}